
.navbar {
  position: relative;
}

.navbar form[role="search"] {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.login-btn {
  position: absolute;
  right: 20px;      /* ระยะจากขอบขวา */
  top: 50%;
  transform: translateY(-50%);
}
.register-btn {
  position: absolute;
  right: 80px;      /* ระยะจากขอบขวา */
  top: 50%;
  transform: translateY(-50%);
}
.navbar {
  background-color: #babcba !important; /* ม่วง */
}

.main{
    color: rgb(183, 255, 0);
}

.register{
    color: rgb(183, 255, 0);
}

.invetory{
    color: rgb(183, 255, 0);
}

.cart{
    color: rgb(183, 255, 0);
}

.carousel-item {
  height: 55vh;
  padding: 30px 0;          /* ระยะบน–ล่าง */
  background: #eeeeee;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card {
  border-radius: 15px;
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  height: 220px;
  object-fit: contain;
  background: #f5f5f5;
}

.product-card .card-body {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1rem;
  font-weight: 600;
}

.card-text {
  font-size: 0.9rem;              /* ขนาดตัวอักษร */
  color: #666;                    /* สีเทา อ่านง่าย */
  display: -webkit-box;           /* เปิดโหมดตัดบรรทัด */
  -webkit-box-orient: vertical;   /* จัดข้อความแนวตั้ง */          
  overflow: hidden;               
}

.card-body{
  padding: 25px;
}

/* ตัวการ์ด */
.product-card {
  background: #ffffff;
  border-radius: 14px;
  border: 1px solid #e5e5e5;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
  transition: all 0.25s ease;
  overflow: hidden; /* กันรูปทะลุมุม */
}

/* hover ดูมี layer */
.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.product-image {
  height: 235px;             
  padding: 10px;              
  background: #babcba;

  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer{
  background: #f8f9fa;
  padding: 40px 0;
}

.footer-title{
  font-weight: 600;
  margin-bottom: 15px;
}

.footer p{
  font-size: 0.95rem;
  line-height: 1.7;
  color:#444
}

.map-box{
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6xp 20xp rgba(0, 0, 0, 0.01);
}

.map-box iframe{
  width: 100%;
  height: 300px;
  border: 0;
}

.auth-buttons {
  display: flex;      /* เรียงปุ่มแนวนอน */
  gap: 10px;          /* ระยะห่างระหว่างปุ่ม */
}

.register-body {
  padding: 32px !important;
}

/* ระยะห่างช่องกรอก */
.register-body .mb-3 {
  margin-bottom: 20px;
}

/* label */
.register-body label {
  font-size: 0.95rem;
  margin-bottom: 6px;
}

/* footer */
.register-footer {
  padding: 16px 32px;
}

.register-footer .btn {
  min-width: 120px;
}